@mixin ZeroSpace() {
    margin: 0;
    padding: 0;
}

@mixin Screen($w: 100%, $h: 100%) {
    min-width: $w;
    height: $h;
}

@mixin Debug($color: red) {
    border: 2px solid $color;
}

@mixin Flex($dir: row, $jus: center, $align: center) {
    display: flex;
    justify-content: $jus;
    align-items: $align;
    flex-direction: $dir;
}
