// text colors
$black-text-color-1: var(--black-text-color-1, #dedddd);
$black-text-color-2: var(--black-text-color-2, #878585);
$black-text-color-3: var(--black-text-color-3, #1d1d1d);

// white text colors
$white-text-color-1: var(--white-text-color-1, #c8c8c8);
$white-text-color-2: var(--white-text-color-2, #e4e3e3);
$white-text-color-3: var(--white-text-color-3, #ffffff);
$green-text: var(--green-text, #008069);
$transparent-black : var(--transparent-black, rgba(73, 73, 73, 0.5))