@import '../../scss/mixins/shape.scss';

div.container{
    border: 2px solid gold;
    @include Rectangle(4.5vw, 100%);

    div > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include Rectangle();
    }
}
